{% comment %} top (left side) navigation for help center - am {% endcomment %}

{% assign help_counter = 1 %}
{% if template == 'page.faq-help-center' %}
  {% assign prefix = "HC" %}
{% endif %}
{% if template == 'page.faq-legal' %}
  {% assign prefix = "L" %}
{% endif %}


{%- for block in section.blocks -%}
  {% case block.type %}
    {% when 'question'%}
      {% if help_counter == 1 %}
        {% assign block_id_1 = block.id %}
        {% assign block_title_1 = block.settings.title %}
        {% assign aria_controls_main_1 = prefix | append: "-left-"| append: block.id  %}
        {% assign aria_controls_right_1 = prefix | append: "-right-"| append: block.id  %}

        {% if block.settings.subheading-1 != empty %}
          {% assign aria_controls_1_sub_1 = prefix | append: "-"| append: block.id | append: '-' | append: 1 %}
          {% assign block_1_subheader_1 = block.settings.subheading-1 %}
        {% endif %}
        {% if block.settings.subheading-2 != empty %}
          {% assign aria_controls_1_sub_2 = prefix | append: "-"| append: block.id | append: '-' | append: 2 %}
          {% assign block_1_subheader_2 = block.settings.subheading-2 %}
        {% endif %}
        {% if block.settings.subheading-3 != empty %}
          {% assign aria_controls_1_sub_3 = prefix | append: "-"| append: block.id | append: '-' | append: 3 %}
          {% assign block_1_subheader_3 = block.settings.subheading-3 %}
        {% endif %}
        {% if block.settings.subheading-4 != empty %}
          {% assign aria_controls_1_sub_4 = prefix | append: "-"| append: block.id | append: '-' | append: 4 %}
          {% assign block_1_subheader_4 = block.settings.subheading-4 %}
        {% endif %}
        {% if block.settings.subheading-5 != empty %}
          {% assign aria_controls_1_sub_5 = prefix | append: "-"| append: block.id | append: '-' | append: 5 %}
          {% assign block_1_subheader_5 = block.settings.subheading-5 %}
        {% endif %}
        {% if block.settings.subheading-6 != empty %}
          {% assign aria_controls_1_sub_6 = prefix | append: "-"| append: block.id | append: '-' | append: 6 %}
          {% assign block_1_subheader_6 = block.settings.subheading-6 %}
        {% endif %}
        {% if block.settings.subheading-7 != empty %}
          {% assign aria_controls_1_sub_7 = prefix | append: "-"| append: block.id | append: '-' | append: 7 %}
          {% assign block_1_subheader_7 = block.settings.subheading-7 %}
        {% endif %}
        {% if block.settings.subheading-8 != empty %}
          {% assign aria_controls_1_sub_8 = prefix | append: "-"| append: block.id | append: '-' | append: 8 %}
          {% assign block_1_subheader_8 = block.settings.subheading-8 %}
        {% endif %}
        {% if block.settings.subheading-9 != empty %}
          {% assign aria_controls_1_sub_9 = prefix | append: "-"| append: block.id | append: '-' | append: 9 %}
          {% assign block_1_subheader_9 = block.settings.subheading-9 %}
        {% endif %}
        {% if block.settings.subheading-10 != empty %}
          {% assign aria_controls_1_sub_10 = prefix | append: "-"| append: block.id | append: '-' | append: 10 %}
          {% assign block_1_subheader_10 = block.settings.subheading-10 %}
        {% endif %}
        {% if block.settings.subheading-11 != empty %}
          {% assign aria_controls_1_sub_11 = prefix | append: "-"| append: block.id | append: '-' | append: 11 %}
          {% assign block_1_subheader_11 = block.settings.subheading-11 %}
        {% endif %}
        {% if block.settings.subheading-12 != empty %}
          {% assign aria_controls_1_sub_12 = prefix | append: "-"| append: block.id | append: '-' | append: 12 %}
          {% assign block_1_subheader_12 = block.settings.subheading-12 %}
        {% endif %}
        {% if block.settings.subheading-13 != empty %}
          {% assign aria_controls_1_sub_13 = prefix | append: "-"| append: block.id | append: '-' | append: 13 %}
          {% assign block_1_subheader_13 = block.settings.subheading-13 %}
        {% endif %}
        {% if block.settings.subheading-14 != empty %}
          {% assign aria_controls_1_sub_14 = prefix | append: "-"| append: block.id | append: '-' | append: 14 %}
          {% assign block_1_subheader_14 = block.settings.subheading-14 %}
        {% endif %}
        {% if block.settings.subheading-15 != empty %}
          {% assign aria_controls_1_sub_15 = prefix | append: "-"| append: block.id | append: '-' | append: 15 %}
          {% assign block_1_subheader_15 = block.settings.subheading-15 %}
        {% endif %}
        {% if block.settings.subheading-16 != empty %}
          {% assign aria_controls_1_sub_16 = prefix | append: "-"| append: block.id | append: '-' | append: 16 %}
          {% assign block_1_subheader_16 = block.settings.subheading-16 %}
        {% endif %}
        {% if block.settings.subheading-17 != empty %}
          {% assign aria_controls_1_sub_17 = prefix | append: "-"| append: block.id | append: '-' | append: 17 %}
          {% assign block_1_subheader_17 = block.settings.subheading-17 %}
        {% endif %}
        {% if block.settings.subheading-18 != empty %}
          {% assign aria_controls_1_sub_18 = prefix | append: "-"| append: block.id | append: '-' | append: 18 %}
          {% assign block_1_subheader_18 = block.settings.subheading-18 %}
        {% endif %}
        {% if block.settings.subheading-19 != empty %}
          {% assign aria_controls_1_sub_19 = prefix | append: "-"| append: block.id | append: '-' | append: 19 %}
          {% assign block_1_subheader_19 = block.settings.subheading-19 %}
        {% endif %}
        {% if block.settings.subheading-20 != empty %}
          {% assign aria_controls_1_sub_20 = prefix | append: "-"| append: block.id | append: '-' | append: 20 %}
          {% assign block_1_subheader_20 = block.settings.subheading-20 %}
        {% endif %}
        {% if block.settings.subheading-21 != empty %}
          {% assign aria_controls_1_sub_21 = prefix | append: "-"|  append: block.id | append: '-' | append: 21 %}
          {% assign block_1_subheader_21 = block.settings.subheading-21 %}
        {% endif %}
      {% endif %}

      {% if help_counter == 2 %}
        {% assign block_id_2 = block.id %}
        {% assign block_title_2 = block.settings.title %}
        {% assign aria_controls_main_2 = prefix | append: "-left-"| append: block.id  %}
        {% assign aria_controls_right_2 = prefix | append: "-right-"| append: block.id  %}

        {% if block.settings.subheading-1 != empty %}
          {% assign aria_controls_2_sub_1 = prefix | append: "-"| append: block.id | append: '-' | append: 1 %}
          {% assign block_2_subheader_1 = block.settings.subheading-1 %}
        {% endif %}
        {% if block.settings.subheading-2 != empty %}
          {% assign aria_controls_2_sub_2 = prefix | append: "-"| append: block.id | append: '-' | append: 2 %}
          {% assign block_2_subheader_2 = block.settings.subheading-2 %}
        {% endif %}
        {% if block.settings.subheading-3 != empty %}
          {% assign aria_controls_2_sub_3 = prefix | append: "-"| append: block.id | append: '-' | append: 3 %}
          {% assign block_2_subheader_3 = block.settings.subheading-3 %}
        {% endif %}
        {% if block.settings.subheading-4 != empty %}
          {% assign aria_controls_2_sub_4 = prefix | append: "-"| append: block.id | append: '-' | append: 4 %}
          {% assign block_2_subheader_4 = block.settings.subheading-4 %}
        {% endif %}
        {% if block.settings.subheading-5 != empty %}
          {% assign aria_controls_2_sub_5 = prefix | append: "-"| append: block.id | append: '-' | append: 5 %}
          {% assign block_2_subheader_5 = block.settings.subheading-5 %}
        {% endif %}
        {% if block.settings.subheading-6 != empty %}
          {% assign aria_controls_2_sub_6 = prefix | append: "-"| append: block.id | append: '-' | append: 6 %}
          {% assign block_2_subheader_6 = block.settings.subheading-6 %}
        {% endif %}
        {% if block.settings.subheading-7 != empty %}
          {% assign aria_controls_2_sub_7 = prefix | append: "-"| append: block.id | append: '-' | append: 7 %}
          {% assign block_2_subheader_7 = block.settings.subheading-7 %}
        {% endif %}
        {% if block.settings.subheading-8 != empty %}
          {% assign aria_controls_2_sub_8 = prefix | append: "-"| append: block.id | append: '-' | append: 8 %}
          {% assign block_2_subheader_8 = block.settings.subheading-8 %}
        {% endif %}
        {% if block.settings.subheading-9 != empty %}
          {% assign aria_controls_2_sub_9 = prefix | append: "-"| append: block.id | append: '-' | append: 9 %}
          {% assign block_2_subheader_9 = block.settings.subheading-9 %}
        {% endif %}
        {% if block.settings.subheading-10 != empty %}
          {% assign aria_controls_2_sub_10 = prefix | append: "-"| append: block.id | append: '-' | append: 10 %}
          {% assign block_2_subheader_10 = block.settings.subheading-10 %}
        {% endif %}
        {% if block.settings.subheading-11 != empty %}
          {% assign aria_controls_2_sub_11 = prefix | append: "-"| append: block.id | append: '-' | append: 11 %}
          {% assign block_2_subheader_11 = block.settings.subheading-11 %}
        {% endif %}
        {% if block.settings.subheading-12 != empty %}
          {% assign aria_controls_2_sub_12 = prefix | append: "-"| append: block.id | append: '-' | append: 12 %}
          {% assign block_2_subheader_12 = block.settings.subheading-12 %}
        {% endif %}
        {% if block.settings.subheading-13 != empty %}
          {% assign aria_controls_2_sub_13 = prefix | append: "-"| append: block.id | append: '-' | append: 13 %}
          {% assign block_2_subheader_13 = block.settings.subheading-13 %}
        {% endif %}
        {% if block.settings.subheading-14 != empty %}
          {% assign aria_controls_2_sub_14 = prefix | append: "-"| append: block.id | append: '-' | append: 14 %}
          {% assign block_2_subheader_14 = block.settings.subheading-14 %}
        {% endif %}
        {% if block.settings.subheading-15 != empty %}
          {% assign aria_controls_2_sub_15 = prefix | append: "-"| append: block.id | append: '-' | append: 15 %}
          {% assign block_2_subheader_15 = block.settings.subheading-15 %}
        {% endif %}
        {% if block.settings.subheading-16 != empty %}
          {% assign aria_controls_2_sub_16 = prefix | append: "-"| append: block.id | append: '-' | append: 16 %}
          {% assign block_2_subheader_16 = block.settings.subheading-16 %}
        {% endif %}
        {% if block.settings.subheading-17 != empty %}
          {% assign aria_controls_2_sub_17 = prefix | append: "-"| append: block.id | append: '-' | append: 17 %}
          {% assign block_2_subheader_17 = block.settings.subheading-17 %}
        {% endif %}
        {% if block.settings.subheading-18 != empty %}
          {% assign aria_controls_2_sub_18 = prefix | append: "-"| append: block.id | append: '-' | append: 18 %}
          {% assign block_2_subheader_18 = block.settings.subheading-18 %}
        {% endif %}
        {% if block.settings.subheading-19 != empty %}
          {% assign aria_controls_2_sub_19 = prefix | append: "-"| append: block.id | append: '-' | append: 19 %}
          {% assign block_2_subheader_19 = block.settings.subheading-19 %}
        {% endif %}
        {% if block.settings.subheading-20 != empty %}
          {% assign aria_controls_2_sub_20 = prefix | append: "-"| append: block.id | append: '-' | append: 20 %}
          {% assign block_2_subheader_20 = block.settings.subheading-20 %}
        {% endif %}
        {% if block.settings.subheading-21 != empty %}
          {% assign aria_controls_2_sub_21 = prefix | append: "-"| append: block.id | append: '-' | append: 21 %}
          {% assign block_2_subheader_21 = block.settings.subheading-21 %}
        {% endif %}
      {% endif %}

      {% if help_counter == 3 %}
        {% assign block_id_3 = block.id %}
        {% assign block_title_3 = block.settings.title %}
        {% assign aria_controls_main_3 = prefix | append: "-left-"| append: block.id  %}
        {% assign aria_controls_right_3 = prefix | append: "-right-"| append: block.id  %}

        {% if block.settings.subheading-1 != empty %}
          {% assign aria_controls_3_sub_1 = prefix | append: "-"| append: block.id | append: '-' | append: 1 %}
          {% assign block_3_subheader_1 = block.settings.subheading-1 %}
        {% endif %}
        {% if block.settings.subheading-2 != empty %}
          {% assign aria_controls_3_sub_2 = prefix | append: "-"| append: block.id | append: '-' | append: 2 %}
          {% assign block_3_subheader_2 = block.settings.subheading-2 %}
        {% endif %}
        {% if block.settings.subheading-3 != empty %}
          {% assign aria_controls_3_sub_3 = prefix | append: "-"| append: block.id | append: '-' | append: 3 %}
          {% assign block_3_subheader_3 = block.settings.subheading-3 %}
        {% endif %}
        {% if block.settings.subheading-4 != empty %}
          {% assign aria_controls_3_sub_4 = prefix | append: "-"| append: block.id | append: '-' | append: 4 %}
          {% assign block_3_subheader_4 = block.settings.subheading-4 %}
        {% endif %}
        {% if block.settings.subheading-5 != empty %}
          {% assign aria_controls_3_sub_5 = prefix | append: "-"| append: block.id | append: '-' | append: 5 %}
          {% assign block_3_subheader_5 = block.settings.subheading-5 %}
        {% endif %}
        {% if block.settings.subheading-6 != empty %}
          {% assign aria_controls_3_sub_6 = prefix | append: "-"| append: block.id | append: '-' | append: 6 %}
          {% assign block_3_subheader_6 = block.settings.subheading-6 %}
        {% endif %}
        {% if block.settings.subheading-7 != empty %}
          {% assign aria_controls_3_sub_7 = prefix | append: "-"| append: block.id | append: '-' | append: 7 %}
          {% assign block_3_subheader_7 = block.settings.subheading-7 %}
        {% endif %}
        {% if block.settings.subheading-8 != empty %}
          {% assign aria_controls_3_sub_8 = prefix | append: "-"| append: block.id | append: '-' | append: 8 %}
          {% assign block_3_subheader_8 = block.settings.subheading-8 %}
        {% endif %}
        {% if block.settings.subheading-9 != empty %}
          {% assign aria_controls_3_sub_9 = prefix | append: "-"| append: block.id | append: '-' | append: 9 %}
          {% assign block_3_subheader_9 = block.settings.subheading-9 %}
        {% endif %}
        {% if block.settings.subheading-10 != empty %}
          {% assign aria_controls_3_sub_10 = prefix | append: "-"| append: block.id | append: '-' | append: 10 %}
          {% assign block_3_subheader_10 = block.settings.subheading-10 %}
        {% endif %}
        {% if block.settings.subheading-11 != empty %}
          {% assign aria_controls_3_sub_11 = prefix | append: "-"| append: block.id | append: '-' | append: 11 %}
          {% assign block_3_subheader_11 = block.settings.subheading-11 %}
        {% endif %}
        {% if block.settings.subheading-12 != empty %}
          {% assign aria_controls_3_sub_12 = prefix | append: "-"| append: block.id | append: '-' | append: 12 %}
          {% assign block_3_subheader_12 = block.settings.subheading-12 %}
        {% endif %}
        {% if block.settings.subheading-13 != empty %}
          {% assign aria_controls_3_sub_13 = prefix | append: "-"| append: block.id | append: '-' | append: 13 %}
          {% assign block_3_subheader_13 = block.settings.subheading-13 %}
        {% endif %}
        {% if block.settings.subheading-14 != empty %}
          {% assign aria_controls_3_sub_14 = prefix | append: "-"| append: block.id | append: '-' | append: 14 %}
          {% assign block_3_subheader_14 = block.settings.subheading-14 %}
        {% endif %}
        {% if block.settings.subheading-15 != empty %}
          {% assign aria_controls_3_sub_15 = prefix | append: "-"| append: block.id | append: '-' | append: 15 %}
          {% assign block_3_subheader_15 = block.settings.subheading-15 %}
        {% endif %}
        {% if block.settings.subheading-16 != empty %}
          {% assign aria_controls_3_sub_16 = prefix | append: "-"| append: block.id | append: '-' | append: 16 %}
          {% assign block_3_subheader_16 = block.settings.subheading-16 %}
        {% endif %}
        {% if block.settings.subheading-17 != empty %}
          {% assign aria_controls_3_sub_17 = prefix | append: "-"| append: block.id | append: '-' | append: 17 %}
          {% assign block_3_subheader_17 = block.settings.subheading-17 %}
        {% endif %}
        {% if block.settings.subheading-18 != empty %}
          {% assign aria_controls_3_sub_18 = prefix | append: "-"| append: block.id | append: '-' | append: 18 %}
          {% assign block_3_subheader_18 = block.settings.subheading-18 %}
        {% endif %}
        {% if block.settings.subheading-19 != empty %}
          {% assign aria_controls_3_sub_19 = prefix | append: "-"| append: block.id | append: '-' | append: 19 %}
          {% assign block_3_subheader_19 = block.settings.subheading-19 %}
        {% endif %}
        {% if block.settings.subheading-20 != empty %}
          {% assign aria_controls_3_sub_20 = prefix | append: "-"| append: block.id | append: '-' | append: 20 %}
          {% assign block_3_subheader_20 = block.settings.subheading-20 %}
        {% endif %}
        {% if block.settings.subheading-21 != empty %}
          {% assign aria_controls_3_sub_21 = prefix | append: "-"| append: block.id | append: '-' | append: 21 %}
          {% assign block_3_subheader_21 = block.settings.subheading-21 %}
        {% endif %}
      {% endif %}

      
      {% if help_counter == 4 %}
        {% assign block_id_4 = block.id %}
        {% assign block_title_4 = block.settings.title %}
        {% assign aria_controls_main_4 = prefix | append: "-left-"| append: block.id  %}
        {% assign aria_controls_right_4 = prefix | append: "-right-"| append: block.id  %}

        {% if block.settings.subheading-1 != empty %}
          {% assign aria_controls_4_sub_1 = prefix | append: "-"| append: block.id | append: '-' | append: 1 %}
          {% assign block_4_subheader_1 = block.settings.subheading-1 %}
        {% endif %}
        {% if block.settings.subheading-2 != empty %}
          {% assign aria_controls_4_sub_2 = prefix | append: "-"| append: block.id | append: '-' | append: 2 %}
          {% assign block_4_subheader_2 = block.settings.subheading-2 %}
        {% endif %}
        {% if block.settings.subheading-3 != empty %}
          {% assign aria_controls_3_sub_3 = prefix | append: "-"| append: block.id | append: '-' | append: 3 %}
          {% assign block_4_subhea4er_3 = block.settings.subheading-3 %}
        {% endif %}
        {% if block.settings.subheading-4 != empty %}
          {% assign aria_controls_4_sub_4 = prefix | append: "-"| append: block.id | append: '-' | append: 1 %}
          {% assign block_4_subheader_4 = block.settings.subheading-4 %}
        {% endif %}
        {% if block.settings.subheading-5 != empty %}
          {% assign aria_controls_4_sub_5 = prefix | append: "-"| append: block.id | append: '-' | append: 2 %}
          {% assign block_4_subheader_5 = block.settings.subheading-5 %}
        {% endif %}
        {% if block.settings.subheading-6 != empty %}
          {% assign aria_controls_4_sub_6 = prefix | append: "-"| append: block.id | append: '-' | append: 3 %}
          {% assign block_4_subheader_6 = block.settings.subheading-6 %}
        {% endif %}
        {% if block.settings.subheading-7 != empty %}
          {% assign aria_controls_4_sub_7 = prefix | append: "-"| append: block.id | append: '-' | append: 3 %}
          {% assign block_4_subheader_7 = block.settings.subheading-7 %}
        {% endif %}
        {% if block.settings.subheading-8 != empty %}
          {% assign aria_controls_4_sub_8 = prefix | append: "-"| append: block.id | append: '-' | append: 8 %}
          {% assign block_4_subheader_8 = block.settings.subheading-8 %}
        {% endif %}
        {% if block.settings.subheading-9 != empty %}
          {% assign aria_controls_4_sub_9 = prefix | append: "-"| append: block.id | append: '-' | append: 9 %}
          {% assign block_4_subheader_9 = block.settings.subheading-9 %}
        {% endif %}
        {% if block.settings.subheading-10 != empty %}
          {% assign aria_controls_4_sub_10 = prefix | append: "-"| append: block.id | append: '-' | append: 10 %}
          {% assign block_4_subheader_10 = block.settings.subheading-10 %}
        {% endif %}
        {% if block.settings.subheading-11 != empty %}
          {% assign aria_controls_4_sub_11 = prefix | append: "-"| append: block.id | append: '-' | append: 11 %}
          {% assign block_4_subheader_11 = block.settings.subheading-11 %}
        {% endif %}
        {% if block.settings.subheading-12 != empty %}
          {% assign aria_controls_4_sub_12 = prefix | append: "-"| append: block.id | append: '-' | append: 12 %}
          {% assign block_4_subheader_12 = block.settings.subheading-12 %}
        {% endif %}
        {% if block.settings.subheading-13 != empty %}
          {% assign aria_controls_4_sub_13 = prefix | append: "-"| append: block.id | append: '-' | append: 13 %}
          {% assign block_4_subheader_13 = block.settings.subheading-13 %}
        {% endif %}
        {% if block.settings.subheading-14 != empty %}
          {% assign aria_controls_4_sub_14 = prefix | append: "-"| append: block.id | append: '-' | append: 14 %}
          {% assign block_4_subheader_14 = block.settings.subheading-14 %}
        {% endif %}
        {% if block.settings.subheading-15 != empty %}
          {% assign aria_controls_4_sub_15 = prefix | append: "-"| append: block.id | append: '-' | append: 15 %}
          {% assign block_4_subheader_15 = block.settings.subheading-15 %}
        {% endif %}
        {% if block.settings.subheading-16 != empty %}
          {% assign aria_controls_4_sub_16 = prefix | append: "-"| append: block.id | append: '-' | append: 16 %}
          {% assign block_4_subheader_16 = block.settings.subheading-16 %}
        {% endif %}
        {% if block.settings.subheading-17 != empty %}
          {% assign aria_controls_4_sub_17 = prefix | append: "-"| append: block.id | append: '-' | append: 17 %}
          {% assign block_4_subheader_17 = block.settings.subheading-17 %}
        {% endif %}
        {% if block.settings.subheading-18 != empty %}
          {% assign aria_controls_4_sub_18 = prefix | append: "-"| append: block.id | append: '-' | append: 18 %}
          {% assign block_4_subheader_18 = block.settings.subheading-18 %}
        {% endif %}
        {% if block.settings.subheading-19 != empty %}
          {% assign aria_controls_4_sub_19 = prefix | append: "-"| append: block.id | append: '-' | append: 19 %}
          {% assign block_4_subheader_19 = block.settings.subheading-19 %}
        {% endif %}
        {% if block.settings.subheading-20 != empty %}
          {% assign aria_controls_4_sub_20 = prefix | append: "-"| append: block.id | append: '-' | append: 20 %}
          {% assign block_4_subheader_20 = block.settings.subheading-20 %}
        {% endif %}
        {% if block.settings.subheading-21 != empty %}
          {% assign aria_controls_4_sub_21 = prefix | append: "-"| append: block.id | append: '-' | append: 21 %}
          {% assign block_4_subheader_21 = block.settings.subheading-21 %}
        {% endif %}
      {% endif %}

      {% assign help_counter = help_counter | plus: 1 %}
  {% endcase %}
{% endfor %}

<div class="help-center-nav">

  <div id="helpCenterNav2">
    <div  style="position:relative;">
      <div class="hc-nav-wrapper">
        <ul class="hc-nav-list">

          {% if block_id_1 != empty %}
            <li class="hc-nav-list-item">
              <h4 class="main-block hc-nav-list-title  collapsible-trigger rte nav-title" aria-controls-mobile="{{aria_controls_main_1}}-mobile"
                  aria-controls="{{aria_controls_main_1}}" aria-controls-right="{{aria_controls_right_1}}"
                  data-main-trigger="{{block.id}}">
                  <a itemprop="name" class="subheading-left active-title" style="color:#fff;"><span class="main-title">{{ block_title_1 }}</span></a>
              </h4>
              {% comment %} JS gets 1st level title above via id below, then getting previousElementSibling.firstElementChild - am {% endcomment %}
              <div id="{{aria_controls_main_1}}-mobile" class="showing hc-subnav-wrapper collapsible-content"
                  itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                <ul class="sub-nav-list">
                  {% if block_1_subheader_1 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"  aria-controls="{{aria_controls_1_sub_1}}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_1_subheader_1 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_1_subheader_2 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_1_sub_2 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_1_subheader_2 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_1_subheader_3 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_1_sub_3 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_1_subheader_3 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_1_subheader_4 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_1_sub_4 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_1_subheader_4 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_1_subheader_5 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_1_sub_5 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_1_subheader_5 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_1_subheader_6 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_1_sub_6 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_1_subheader_6 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_1_subheader_7 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_1_sub_7 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_1_subheader_7 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_1_subheader_8 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_1_sub_8 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_1_subheader_8 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_1_subheader_9 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_1_sub_9 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_1_subheader_9 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_1_subheader_10 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_1_sub_10 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_1_subheader_10 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_1_subheader_11 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_1_sub_11 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_1_subheader_11 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_1_subheader_12 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_1_sub_12 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_1_subheader_12 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_1_subheader_13 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_2_sub_13 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_2_subheader_13 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_1_subheader_14 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_1_sub_14 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_1_subheader_14 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_1_subheader_15 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_1_sub_15 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_1_subheader_15 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_1_subheader_16 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_1_sub_16 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_1_subheader_16 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_1_subheader_17 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_1_sub_17 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_1_subheader_17 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_1_subheader_18 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_1_sub_18 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_1_subheader_18 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_1_subheader_19 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_1_sub_19 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_1_subheader_19 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_1_subheader_20 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_1_sub_20 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_1_subheader_20 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_1_subheader_21 != empty %}
                  <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_1_sub_21 }}">
                    <h4 class="sub-nav-title">
                        <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_1_subheader_21 }}</span></a>
                    </h4>
                  </li>
                {% endif %}
                </ul>
              </div>
            </li>
          {% endif %}

          {% if block_id_2 != empty %}
            <li class="hc-nav-list-item">
              <h4 class="main-block hc-nav-list-title  collapsible-trigger rte nav-title" aria-controls-mobile="{{aria_controls_main_2}}-mobile"
                  aria-controls="{{aria_controls_main_2}}" aria-controls-right="{{aria_controls_right_2}}">
                  <a itemprop="name" class="subheading-left active-title" style="color:#fff;"><span class="main-title">{{ block_title_2 }}</span></a>
              </h4>
              {% comment %} JS gets 1st level title above via id below, then getting previousElementSibling.firstElementChild - am {% endcomment %}
              <div id="{{aria_controls_main_2}}-mobile" class="showing hc-subnav-wrapper collapsible-content"
                  itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                <ul class="sub-nav-list">
                  {% if block_2_subheader_1 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_2_sub_1}}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_2_subheader_1 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_2_subheader_2 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_2_sub_2 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_2_subheader_2 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_2_subheader_3 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_2_sub_3 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_2_subheader_3 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_2_subheader_4 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_2_sub_4 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_2_subheader_4 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_2_subheader_5 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_2_sub_5 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_2_subheader_5 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_2_subheader_6 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_2_sub_6 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_2_subheader_6 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_2_subheader_7 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_2_sub_7 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_2_subheader_7 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_2_subheader_8 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_2_sub_8 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_2_subheader_8 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_2_subheader_9 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_2_sub_9 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_2_subheader_9 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_2_subheader_10 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_2_sub_10 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_2_subheader_10 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_2_subheader_11 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_2_sub_11 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_2_subheader_11 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_2_subheader_12 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_2_sub_12 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_2_subheader_12 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_2_subheader_13 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_2_sub_13 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_2_subheader_13 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_2_subheader_14 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_2_sub_14 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_2_subheader_14 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_2_subheader_15 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_2_sub_15 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_2_subheader_15 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_2_subheader_16 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_2_sub_16 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_2_subheader_16 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_2_subheader_17 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_2_sub_17 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_2_subheader_17 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_2_subheader_18 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_2_sub_18 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_2_subheader_18 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_2_subheader_19 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_2_sub_19 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_2_subheader_19 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_2_subheader_20 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_2_sub_20 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_2_subheader_20 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_2_subheader_21 != empty %}
                  <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_2_sub_21 }}">
                    <h4 class="sub-nav-title">
                        <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_2_subheader_21 }}</span></a>
                    </h4>
                  </li>
                {% endif %}
                </ul>
              </div>
            </li>
          {% endif %}

          {% if block_id_3 != empty %}
            <li class="hc-nav-list-item">
              <h4 class="main-block hc-nav-list-title  collapsible-trigger rte nav-title" aria-controls-mobile="{{aria_controls_main_3}}-mobile"
                  aria-controls="{{aria_controls_main_3}}" aria-controls-right="{{aria_controls_right_3}}">
                  <a itemprop="name" class="subheading-left active-title" style="color:#fff;"><span class="main-title">{{ block_title_3 }}</span></a>
              </h4>
              {% comment %} JS gets 1st level title above via id below, then getting previousElementSibling.firstElementChild - am {% endcomment %}
              <div id="{{aria_controls_main_3}}-mobile" class="showing hc-subnav-wrapper collapsible-content"
                  itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                <ul class="sub-nav-list">
                  {% if block_3_subheader_1 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_3_sub_1}}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_3_subheader_1 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_3_subheader_2 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_3_sub_2 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_3_subheader_2 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_3_subheader_3 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_3_sub_3 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_3_subheader_3 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_3_subheader_4 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_3_sub_4 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_3_subheader_4 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_3_subheader_5 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_3_sub_5 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_3_subheader_5 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_3_subheader_6 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_3_sub_6 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_3_subheader_6 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_3_subheader_7 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_1_sub_7 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_1_subheader_7 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_3_subheader_8 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_3_sub_8 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_3_subheader_8 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_3_subheader_9 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_3_sub_9 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_3_subheader_9 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_3_subheader_10 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_3_sub_10 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_3_subheader_10 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_3_subheader_11 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_3_sub_11 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_3_subheader_11 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_3_subheader_12 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_3_sub_12 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_3_subheader_12 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_3_subheader_13 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_3_sub_13 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_3_subheader_13 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_3_subheader_14 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_3_sub_14 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_3_subheader_14 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_3_subheader_15 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_3_sub_15 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_3_subheader_15 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_3_subheader_16 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_3_sub_16 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_3_subheader_16 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_3_subheader_17 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_3_sub_17 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_3_subheader_17 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_3_subheader_18 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_3_sub_18 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_3_subheader_18 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_3_subheader_19 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_3_sub_19 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_3_subheader_19 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_3_subheader_20 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_3_sub_20 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_3_subheader_20 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_3_subheader_21 != empty %}
                  <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_3_sub_21 }}">
                    <h4 class="sub-nav-title">
                        <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_3_subheader_21 }}</span></a>
                    </h4>
                  </li>
                {% endif %}
                </ul>
              </div>
            </li>
          {% endif %}

          {% if block_id_4 != empty %}
            <li class="hc-nav-list-item">
              <h4 class="main-block hc-nav-list-title  collapsible-trigger rte nav-title" aria-controls-mobile="{{aria_controls_main_4}}-mobile"
                  aria-controls="{{aria_controls_main_4}}" aria-controls-right="{{aria_controls_right_4}}">
                  <a itemprop="name" class="subheading-left active-title" style="color:#fff;">{{ block_title_4 }}</a>
              </h4>
              {% comment %} JS gets 1st level title above via id below, then getting previousElementSibling.firstElementChild - am {% endcomment %}
              <div id="{{aria_controls_main_4}}-mobile" class="showing hc-subnav-wrapper collapsible-content"
                  itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                <ul class="sub-nav-list">
                  {% if block_4_subheader_1 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_4_sub_1}}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_4_subheader_1 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_4_subheader_2 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_4_sub_2 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_4_subheader_2 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_4_subheader_3 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_4_sub_3 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_4_subheader_3 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_4_subheader_4 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_4_sub_4 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_4_subheader_4 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_4_subheader_5 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_4_sub_5 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_4_subheader_5 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_4_subheader_6 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_4_sub_6 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_4_subheader_6 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_4_subheader_7 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_4_sub_7 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_4_subheader_7 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_4_subheader_8 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_4_sub_8 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_4_subheader_8 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_4_subheader_9 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_4_sub_9 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_4_subheader_9 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_4_subheader_10 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_4_sub_10 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_4_subheader_10 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_4_subheader_11 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_4_sub_11 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_4_subheader_11 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_4_subheader_12 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_4_sub_12 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_4_subheader_12 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_4_subheader_13 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_4_sub_13 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_4_subheader_13 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_4_subheader_14 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_4_sub_14 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_4_subheader_14 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_4_subheader_15 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_4_sub_15 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_4_subheader_15 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_4_subheader_16 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_4_sub_16 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_4_subheader_16 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_4_subheader_17 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_4_sub_17 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_4_subheader_17 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_4_subheader_18 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_4_sub_18 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_4_subheader_18 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_4_subheader_19 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_4_sub_19 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_4_subheader_19 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_4_subheader_20 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_4_sub_20 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_4_subheader_20 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                  {% if block_4_subheader_21 != empty %}
                    <li class="sub-block sub-nav-list-item collapsible-trigger rte"   aria-controls="{{aria_controls_4_sub_21 }}">
                      <h4 class="sub-nav-title">
                          <a itemprop="name" class="subheading-left" style="color:#fff;"><span>{{ block_4_subheader_21 }}</span></a>
                      </h4>
                    </li>
                  {% endif %}
                </ul>
              </div>
            </li>
          {% endif %}

          {% comment %} empty sub-nav used as placeholder when no other sub-nav is open - am  {% endcomment %}
          <li class="sub-nav-dummy">
            <div class="sub-nav-dummy-div" >
              <ul class="sub-nav-dummy-list">
                <li class="sub-nav-dummy-list-item collapsible-trigger"  aria-controls="{{aria_controls_2_sub_1}}">
                </li>
              </ul>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>

</div>





<style>
@media (min-width:1024px){
  .help-center-nav {
    display:none;
  }
}

/* sticky header */
.help-center-nav .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.help-center-nav .hc-nav-wrapper {
  background: #171717;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
}

.help-center-nav .hc-nav-list {
  margin: 0 auto;
  padding: 0 20px;
  white-space: nowrap;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center; 
  list-style: none;
  transition: opacity .5s cubic-bezier(.25,.46,.45,.94);
  margin-block-start: 4px;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.help-center-nav .hc-nav-list-item {
  box-sizing: border-box;
  height: 50px;
  padding: 2px 16px 0;
  display: flex;
  -webkit-box-align: center; align-items: center;
  transition:padding .2s cubic-bezier(.25,.46,.45,.94);
  text-align: -webkit-match-parent;
}

.help-center-nav .hc-nav-list-title  {
  margin:unset;
  font-size: 13px;
  color: #fff;
  outline: 0;
  display: inline-block;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.help-center-nav .hc-subnav-wrapper {
  height: auto !important;
  visibility: hidden;
  position: absolute;
  background: #808080;
  top: 55px;
  left: 0;
  width: 100%;
  z-index: 2;
  overflow-x: scroll;
  overflow-y: hidden;
  display:flex !important;
}


.help-center-nav  .sub-nav-list {
  margin: 0 auto;
  padding: 0 20px;
  white-space: nowrap;
  display: flex;
  -webkit-box-pack: center;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  justify-content: center;
  list-style: none;
}

.help-center-nav  .sub-nav-list-item  {
  margin-bottom:unset;
  margin-top:unset;
  cursor:pointer;
  box-sizing: border-box;
  height: 50px;
  padding: 2px 16px 0;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  transition: padding .2s cubic-bezier(.25,.46,.45,.94);
  text-align: -webkit-match-parent;
}

.help-center-nav .sub-nav-title {
  margin:unset;
  font-size: 13px;
  color: #fff;
  outline: 0;
  display: inline-block;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  background-color: transparent;
}

.help-center-nav  .sub-nav-dummy {
  box-sizing: border-box;
  height: 50px;
  padding: 2px 16px 0;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  transition: padding .2s cubic-bezier(.25,.46,.45,.94);
  text-align: -webkit-match-parent;
}
.help-center-nav  .sub-nav-dummy-div {
  height: auto;
  z-index: 1; 
  position: absolute;
  background: #808080;
  top: 55px;
  left: 0;
  width: 100%;
  z-index: 1;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
}


.help-center-nav  .sub-nav-dummy-list {
  margin: 0 auto;
  padding: 0 20px;
  white-space: nowrap;
  display: flex;
  -webkit-box-pack: center;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  justify-content: center;
  list-style: none;
}

.help-center-nav  .sub-nav-dummy-list-item {
  cursor:pointer;
  box-sizing: border-box;
  height: 50px;
  padding: 2px 16px 0;
  display: flex;
  -webkit-box-align: center;
  align-items: center;    
  transition: padding .2s cubic-bezier(.25,.46,.45,.94);
  text-align: -webkit-match-parent;
}


.help-center-nav .collapsible-trigger {
  position: unset;
}

.help-center-nav .is-open {
  z-index: 5 !important;
  opacity: 1 !important;
  visibility: visible !important;
  display:flex !important;
}

.help-center-nav .subheading-left,
.help-center-nav  a  {
  border-bottom-color: #ffffff00 !important;
}
.help-center-nav .active-title {
  text-decoration: none;
  border-bottom: 1px solid;
  position: relative;
  display: inline-block;
}
.help-center-nav .subheading-left:hover {
  border-bottom: 2px solid;
  bottom: 1px;
  /*border-bottom-color: #fff !important;*/
  position: relative;
  display: inline-block;
  -webkit-transition: border-bottom 600ms, border-bottom-color 600ms;
  transition: border-bottom 600ms, border-bottom-color 600ms;
}





</style>



